<mat-toolbar id="main-menu">
    <span class="app-title"> ABC INC</span>
    <ul>
        <li><a routerLink="/">{{"menu.home"|translate}}</a></li>
        <li><a routerLink="/projects">{{"menu.projects"|translate}}</a></li>
        <li><a routerLink="/reviews">{{"menu.reviews"|translate}}</a></li>
        <li><a routerLink="/contacts">{{"menu.contact"|translate}}</a></li>
    </ul>
    <select [style.marginLeft]="'100px'" [(ngModel)]="current" (change)="setLang()">
        <option *ngFor="let x of languages">{{x}}</option>
    </select>
</mat-toolbar>